<div class="container">
    <div class="input-group" style="margin-top: 10px;">
        <label class="input-group-text">Keyword</label>
        <input class="input-group-text" type="text" [(ngModel)]="keyword">
        <button (click)="searchProduct()" class="btn btn-outline-success">
            <i class="bi bi-search" ></i>
        </button>
    </div>
    <table class="table" style="margin-top: 30px;" *ngIf="products">
      <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>
              <button (click)="handleDelete(p) "class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
              <td>
                  <button (click)="handleEdit(p) "class="btn btn-outline-danger">
                      <i class="bi bi-pencil"></i>
                  </button>
              </td>
          </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-success ms-1" style="margin-top: 10px" routerLink="/newproducts">Ajouter Produit
      <i class="bi bi-plus-circle text-success"></i>
    </button>
</div>
