<div class="container">
    <div class="card">
        <div class="card-header">
            Product ID: {{productid}}
        </div>
        <div class="card-body" *ngIf="productFormGroup">
                <form [formGroup]="productFormGroup" (ngSubmit)="updateProduct()">
                    <div >
                        <label class="input-group-text" style="margin-top: 10px;">Name:</label>
                        <input type="text" class="form-control" formControlName="name">
                        <label class="input-group-text" style="margin-top: 10px;">Price:</label>
                        <input type="text" class="form-control" formControlName="price">
                        <button class="btn btn-outline-success" style="margin-top: 10px;" [disabled]="productFormGroup.invalid">Modifier</button>
                        </div>
                </form>
        </div>
    </div>
</div>
